@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3C5FA6;
    margin: 0px;
}

header {
    background-color: #F2E205;
    color: #2E338C;
    margin: 10px;
    padding: 5px;
}

nav {
    background-color: #F2CB05;
    padding: 5px;
    text-align: right;
}

nav > a {
    color: #2E338C;
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: #F2CB05;
    margin: 10px;
    padding: 10px;
}

div {
    background-color: #3C5FA6;
    padding: 5px;
}

footer {
    background-color: #F2E205;
    text-align: center;
    color: #2E338C;;
    padding: 1px;
}
